@import "lsf_variables";

.lsf-table:before{
  content: $lsf-table;
}

.lsf-cell:before{
  content: $lsf-table;
}

.lsf-copy:before{
  content: $lsf-copy;
}

.lsf-files:before{
  content: $lsf-copy;
}

.lsf-cut:before{
  content: $lsf-cut;
}

.lsf-scissors:before{
  content: $lsf-cut;
}

.lsf-backspace:before{
  content: $lsf-backspace;
}

.lsf-alignleft:before{
  content: $lsf-alignleft;
}

.lsf-aligncenter:before{
  content: $lsf-aligncenter;
}

.lsf-alignright:before{
  content: $lsf-alignright;
}

.lsf-alignadjust:before{
  content: $lsf-alignadjust;
}

.lsf-italic:before{
  content: $lsf-italic;
}

.lsf-bold:before{
  content: $lsf-bold;
}

.lsf-underline:before{
  content: $lsf-underline;
}

.lsf-strike:before{
  content: $lsf-strike;
}

.lsf-emphasis:before{
  content: $lsf-emphasis;
}

.lsf-code:before{
  content: $lsf-code;
}

.lsf-link:before{
  content: $lsf-link;
}

.lsf-chain:before{
  content: $lsf-link;
}

.lsf-quote:before{
  content: $lsf-quote;
}

.lsf-graph:before{
  content: $lsf-graph;
}

.lsf-magic:before{
  content: $lsf-magic;
}

.lsf-effect:before{
  content: $lsf-magic;
}

.lsf-brush:before{
  content: $lsf-brush;
}

.lsf-color:before{
  content: $lsf-color;
}

.lsf-palette:before{
  content: $lsf-color;
}

.lsf-contrast:before{
  content: $lsf-contrast;
}

.lsf-adjust:before{
  content: $lsf-contrast;
}

.lsf-ink:before{
  content: $lsf-ink;
}

.lsf-water:before{
  content: $lsf-ink;
}

.lsf-gradation:before{
  content: $lsf-gradation;
}

.lsf-grayscale:before{
  content: $lsf-gradation;
}

.lsf-sepia:before{
  content: $lsf-sepia;
}

.lsf-grunge:before{
  content: $lsf-sepia;
}

.lsf-invert:before{
  content: $lsf-invert;
}

.lsf-paint:before{
  content: $lsf-paint;
}

.lsf-paramater:before{
  content: $lsf-paramater;
}

.lsf-param:before{
  content: $lsf-paramater;
}

.lsf-slider:before{
  content: $lsf-paramater;
}

.lsf-crop:before{
  content: $lsf-crop;
}

.lsf-check:before{
  content: $lsf-check;
}

.lsf-ok:before{
  content: $lsf-check;
}

.lsf-checkbox:before{
  content: $lsf-checkbox;
}

.lsf-checkboxempty:before{
  content: $lsf-checkboxempty;
}

.lsf-pc:before{
  content: $lsf-pc;
}

.lsf-display:before{
  content: $lsf-pc;
}

.lsf-computer:before{
  content: $lsf-pc;
}

.lsf-keyboard:before{
  content: $lsf-keyboard;
}

.lsf-mobile:before{
  content: $lsf-mobile;
}

.lsf-iphone:before{
  content: $lsf-mobile;
}

.lsf-smartphone:before{
  content: $lsf-mobile;
}

.lsf-horizontal:before{
  content: $lsf-horizontal;
}

.lsf-vertical:before{
  content: $lsf-vertical;
}

.lsf-web:before{
  content: $lsf-web;
}

.lsf-mail:before{
  content: $lsf-mail;
}

.lsf-shopping:before{
  content: $lsf-shopping;
}

.lsf-cart:before{
  content: $lsf-shopping;
}

.lsf-dashboard:before{
  content: $lsf-dashboard;
}

.lsf-key:before{
  content: $lsf-key;
}

.lsf-sns:before{
  content: $lsf-sns;
}

.lsf-network:before{
  content: $lsf-sns;
}

.lsf-calendar:before{
  content: $lsf-calendar;
}

.lsf-dailycalendar:before{
  content: $lsf-dailycalendar;
}

.lsf-ban:before{
  content: $lsf-ban;
}

.lsf-remove:before{
  content: $lsf-remove;
}

.lsf-close:before{
  content: $lsf-remove;
}

.lsf-pen:before{
  content: $lsf-pen;
}

.lsf-pencil:before{
  content: $lsf-pen;
}

.lsf-write:before{
  content: $lsf-pen;
}

.lsf-eraser:before{
  content: $lsf-eraser;
}

.lsf-edit:before{
  content: $lsf-edit;
}

.lsf-addnew:before{
  content: $lsf-edit;
}

.lsf-tabs:before{
  content: $lsf-tabs;
}

.lsf-tag:before{
  content: $lsf-tag;
}

.lsf-setup:before{
  content: $lsf-setup;
}

.lsf-wrench:before{
  content: $lsf-setup;
}

.lsf-spanner:before{
  content: $lsf-setup;
}

.lsf-setting:before{
  content: $lsf-setting;
}

.lsf-gear:before{
  content: $lsf-setting;
}

.lsf-etc:before{
  content: $lsf-etc;
}

.lsf-ellipsis:before{
  content: $lsf-etc;
}

.lsf-clip:before{
  content: $lsf-clip;
}

.lsf-attach:before{
  content: $lsf-clip;
}

.lsf-bookmark:before{
  content: $lsf-bookmark;
}

.lsf-book:before{
  content: $lsf-book;
}

.lsf-album:before{
  content: $lsf-album;
}

.lsf-user:before{
  content: $lsf-user;
}

.lsf-you:before{
  content: $lsf-user;
}

.lsf-human:before{
  content: $lsf-user;
}

.lsf-man:before{
  content: $lsf-male;
}

.lsf-friend:before{
  content: $lsf-friend;
}

.lsf-users:before{
  content: $lsf-friend;
}

.lsf-group:before{
  content: $lsf-group;
}

.lsf-frustrate:before{
  content: $lsf-frustrate;
}

.lsf-laugh:before{
  content: $lsf-laugh;
}

.lsf-wink:before{
  content: $lsf-wink;
}

.lsf-smile:before{
  content: $lsf-smile;
}

.lsf-surprise:before{
  content: $lsf-surprise;
}

.lsf-trouble:before{
  content: $lsf-trouble;
}

.lsf-male:before{
  content: $lsf-male;
}

.lsf-female:before{
  content: $lsf-female;
}

.lsf-woman:before{
  content: $lsf-female;
}

.lsf-lady:before{
  content: $lsf-female;
}

.lsf-game:before{
  content: $lsf-game;
}

.lsf-globe:before{
  content: $lsf-globe;
}

.lsf-global:before{
  content: $lsf-globe;
}

.lsf-earth:before{
  content: $lsf-globe;
}

.lsf-home:before{
  content: $lsf-home;
}

.lsf-house:before{
  content: $lsf-home;
}

.lsf-building:before{
  content: $lsf-building;
}

.lsf-rss:before{
  content: $lsf-rss;
}

.lsf-feed:before{
  content: $lsf-rss;
}

.lsf-server:before{
  content: $lsf-server;
}

.lsf-sitemap:before{
  content: $lsf-sitemap;
}

.lsf-app:before{
  content: $lsf-app;
}

.lsf-application:before{
  content: $lsf-app;
}

.lsf-memo:before{
  content: $lsf-memo;
}

.lsf-meal:before{
  content: $lsf-meal;
}

.lsf-dish:before{
  content: $lsf-meal;
}

.lsf-lunch:before{
  content: $lsf-meal;
}

.lsf-coffee:before{
  content: $lsf-coffee;
}

.lsf-cup:before{
  content: $lsf-coffee;
}

.lsf-spa:before{
  content: $lsf-spa;
}

.lsf-onsen:before{
  content: $lsf-spa;
}

.lsf-college:before{
  content: $lsf-college;
}

.lsf-bag:before{
  content: $lsf-bag;
}

.lsf-present:before{
  content: $lsf-present;
}

.lsf-gift:before{
  content: $lsf-present;
}

.lsf-umbrella:before{
  content: $lsf-umbrella;
}

.lsf-twinkle:before{
  content: $lsf-twinkle;
}

.lsf-spark:before{
  content: $lsf-twinkle;
}

.lsf-hot:before{
  content: $lsf-twinkle;
}

.lsf-crown:before{
  content: $lsf-crown;
}

.lsf-category:before{
  content: $lsf-category;
}

.lsf-drawer:before{
  content: $lsf-category;
}

.lsf-circle:before{
  content: $lsf-circle;
}

.lsf-info:before{
  content: $lsf-info;
}

.lsf-information:before{
  content: $lsf-info;
}

.lsf-help:before{
  content: $lsf-help;
}

.lsf-refreshbutton:before{
  content: $lsf-refreshbutton;
}

.lsf-terminal:before{
  content: $lsf-terminal;
}

.lsf-file:before{
  content: $lsf-file;
}

.lsf-print:before{
  content: $lsf-print;
}

.lsf-delete:before{
  content: $lsf-delete;
}

.lsf-trash:before{
  content: $lsf-delete;
}

.lsf-clear:before{
  content: $lsf-clear;
}

.lsf-save:before{
  content: $lsf-save;
}

.lsf-stock:before{
  content: $lsf-save;
}

.lsf-upload:before{
  content: $lsf-upload;
}

.lsf-cloud:before{
  content: $lsf-cloud;
}

.lsf-folder:before{
  content: $lsf-folder;
}

.lsf-camera:before{
  content: $lsf-camera;
}

.lsf-photo:before{
  content: $lsf-photo;
}

.lsf-images:before{
  content: $lsf-photo;
}

.lsf-image:before{
  content: $lsf-image;
}

.lsf-img:before{
  content: $lsf-image;
}

.lsf-barcode:before{
  content: $lsf-barcode;
}

.lsf-phone:before{
  content: $lsf-phone;
}

.lsf-call:before{
  content: $lsf-phone;
}

.lsf-music:before{
  content: $lsf-music;
}

.lsf-video:before{
  content: $lsf-video;
}

.lsf-playmedia:before{
  content: $lsf-playmedia;
}

.lsf-record:before{
  content: $lsf-record;
}

.lsf-mic:before{
  content: $lsf-record;
}

.lsf-microphone:before{
  content: $lsf-record;
}

.lsf-play:before{
  content: $lsf-play;
}

.lsf-pause:before{
  content: $lsf-pause;
}

.lsf-stop:before{
  content: $lsf-stop;
}

.lsf-eject:before{
  content: $lsf-eject;
}

.lsf-bell:before{
  content: $lsf-bell;
}

.lsf-volumeup:before{
  content: $lsf-volumeup;
}

.lsf-volumedown:before{
  content: $lsf-volumedown;
}

.lsf-volume:before{
  content: $lsf-volume;
}

.lsf-volumeoff:before{
  content: $lsf-volume;
}

.lsf-off:before{
  content: $lsf-off;
}

.lsf-power:before{
  content: $lsf-off;
}

.lsf-light:before{
  content: $lsf-light;
}

.lsf-brightness:before{
  content: $lsf-light;
}

.lsf-dark:before{
  content: $lsf-dark;
}

.lsf-darkness:before{
  content: $lsf-dark;
}

.lsf-lock:before{
  content: $lsf-lock;
}

.lsf-unlock:before{
  content: $lsf-unlock;
}

.lsf-flag:before{
  content: $lsf-flag;
}

.lsf-wifi:before{
  content: $lsf-wifi;
}

.lsf-time:before{
  content: $lsf-time;
}

.lsf-map:before{
  content: $lsf-map;
}

.lsf-geo:before{
  content: $lsf-geo;
}

.lsf-location:before{
  content: $lsf-location;
}

.lsf-direction:before{
  content: $lsf-location;
}

.lsf-pin:before{
  content: $lsf-pin;
}

.lsf-walking:before{
  content: $lsf-walking;
}

.lsf-bicycle:before{
  content: $lsf-bicycle;
}

.lsf-car:before{
  content: $lsf-car;
}

.lsf-bus:before{
  content: $lsf-bus;
}

.lsf-plane:before{
  content: $lsf-plane;
}

.lsf-airport:before{
  content: $lsf-plane;
}

.lsf-compass:before{
  content: $lsf-compass;
}

.lsf-cursor:before{
  content: $lsf-cursor;
}

.lsf-pointer:before{
  content: $lsf-pointer;
}

.lsf-grab:before{
  content: $lsf-grab;
}

.lsf-arrowup:before{
  content: $lsf-arrowup;
}

.lsf-arrowright:before{
  content: $lsf-arrowright;
}

.lsf-arrowdown:before{
  content: $lsf-arrowdown;
}

.lsf-arrowleft:before{
  content: $lsf-arrowleft;
}

.lsf-up:before{
  content: $lsf-up;
}

.lsf-right:before{
  content: $lsf-right;
}

.lsf-down:before{
  content: $lsf-down;
}

.lsf-left:before{
  content: $lsf-left;
}

.lsf-back:before{
  content: $lsf-back;
}

.lsf-next:before{
  content: $lsf-next;
}

.lsf-dropdown:before{
  content: $lsf-dropdown;
}

.lsf-sort:before{
  content: $lsf-sort;
}

.lsf-good:before{
  content: $lsf-good;
}

.lsf-like:before{
  content: $lsf-good;
}

.lsf-bad:before{
  content: $lsf-bad;
}

.lsf-nogood:before{
  content: $lsf-bad;
}

.lsf-full:before{
  content: $lsf-full;
}

.lsf-small:before{
  content: $lsf-small;
}

.lsf-move:before{
  content: $lsf-move;
}

.lsf-undo:before{
  content: $lsf-undo;
}

.lsf-forward:before{
  content: $lsf-forward;
}

.lsf-reply:before{
  content: $lsf-reply;
}

.lsf-share:before{
  content: $lsf-share;
}

.lsf-login:before{
  content: $lsf-login;
}

.lsf-in:before{
  content: $lsf-login;
}

.lsf-logout:before{
  content: $lsf-logout;
}

.lsf-out:before{
  content: $lsf-logout;
}

.lsf-exchange:before{
  content: $lsf-exchange;
}

.lsf-shuffle:before{
  content: $lsf-shuffle;
}

.lsf-random:before{
  content: $lsf-shuffle;
}

.lsf-repeat:before{
  content: $lsf-repeat;
}

.lsf-retweet:before{
  content: $lsf-repeat;
}

.lsf-refresh:before{
  content: $lsf-refresh;
}

.lsf-reload:before{
  content: $lsf-refresh;
}

.lsf-sync:before{
  content: $lsf-sync;
}

.lsf-external:before{
  content: $lsf-external;
}

.lsf-newtab:before{
  content: $lsf-external;
}

.lsf-addstar:before{
  content: $lsf-addstar;
}

.lsf-star:before{
  content: $lsf-star;
}

.lsf-starempty:before{
  content: $lsf-starempty;
}

.lsf-heart:before{
  content: $lsf-heart;
}

.lsf-love:before{
  content: $lsf-heart;
}

.lsf-heartempty:before{
  content: $lsf-heartempty;
}

.lsf-view:before{
  content: $lsf-view;
}

.lsf-eye:before{
  content: $lsf-view;
}

.lsf-comment:before{
  content: $lsf-comment;
}

.lsf-balloon:before{
  content: $lsf-comment;
}

.lsf-comments:before{
  content: $lsf-comments;
}

.lsf-balloons:before{
  content: $lsf-comments;
}

.lsf-plus:before{
  content: $lsf-plus;
}

.lsf-add:before{
  content: $lsf-plus;
}

.lsf-minus:before{
  content: $lsf-minus;
}

.lsf-zoomin:before{
  content: $lsf-zoomin;
}

.lsf-zoom:before{
  content: $lsf-zoomin;
}

.lsf-zoomout:before{
  content: $lsf-zoomout;
}

.lsf-search:before{
  content: $lsf-search;
}

.lsf-menu:before{
  content: $lsf-menu;
}

.lsf-tilemenu:before{
  content: $lsf-tilemenu;
}

.lsf-list:before{
  content: $lsf-list;
}

.lsf-tile:before{
  content: $lsf-tile;
}

.lsf-notify:before{
  content: $lsf-notify;
}

.lsf-Unicode:before{
  content: $lsf-Ligature;
}

.lsf-apple:before{
  content: $lsf-apple;
}

.lsf-android:before{
  content: $lsf-android;
}

.lsf-windows:before{
  content: $lsf-windows;
}

.lsf-ubuntu:before{
  content: $lsf-ubuntu;
}

.lsf-amazon:before{
  content: $lsf-amazon;
}

.lsf-facebook:before{
  content: $lsf-facebook;
}

.lsf-twitter:before{
  content: $lsf-twitter;
}

.lsf-vk:before{
  content: $lsf-vk;
}

.lsf-google:before{
  content: $lsf-google;
}

.lsf-yahoo:before{
  content: $lsf-yahoo;
}

.lsf-bing:before{
  content: $lsf-bing;
}

.lsf-hatena:before{
  content: $lsf-hatena;
}

.lsf-hatenabookmark:before{
  content: $lsf-hatenabookmark;
}

.lsf-digg:before{
  content: $lsf-digg;
}

.lsf-linkedin:before{
  content: $lsf-linkedin;
}

.lsf-myspace:before{
  content: $lsf-myspace;
}

.lsf-paperboy:before{
  content: $lsf-paperboy;
}

.lsf-mixi:before{
  content: $lsf-mixi;
}

.lsf-line:before{
  content: $lsf-line;
}

.lsf-mobage:before{
  content: $lsf-mobage;
}

.lsf-gree:before{
  content: $lsf-gree;
}

.lsf-skype:before{
  content: $lsf-skype;
}

.lsf-aim:before{
  content: $lsf-aim;
}

.lsf-yelp:before{
  content: $lsf-yelp;
}

.lsf-foursquare:before{
  content: $lsf-foursquare;
}

.lsf-pinterest:before{
  content: $lsf-pinterest;
}

.lsf-flickr:before{
  content: $lsf-flickr;
}

.lsf-tumblr:before{
  content: $lsf-tumblr;
}

.lsf-wordpress:before{
  content: $lsf-wordpress;
}

.lsf-blogger:before{
  content: $lsf-blogger;
}

.lsf-evernote:before{
  content: $lsf-evernote;
}

.lsf-dropbox:before{
  content: $lsf-dropbox;
}

.lsf-slideshare:before{
  content: $lsf-slideshare;
}

.lsf-github:before{
  content: $lsf-github;
}

.lsf-yapcasialogomark:before{
  content: $lsf-yapcasialogomark;
}

.lsf-dribbble:before{
  content: $lsf-dribbble;
}

.lsf-cookpad:before{
  content: $lsf-cookpad;
}

.lsf-instapaper:before{
  content: $lsf-instapaper;
}

.lsf-readability:before{
  content: $lsf-readability;
}

.lsf-gumroad:before{
  content: $lsf-gumroad;
}

.lsf-picasa:before{
  content: $lsf-picasa;
}

.lsf-instagram:before{
  content: $lsf-instagram;
}

.lsf-delicious:before{
  content: $lsf-delicious;
}

.lsf-youtube:before{
  content: $lsf-youtube;
}

.lsf-vimeo:before{
  content: $lsf-vimeo;
}

.lsf-ustream:before{
  content: $lsf-ustream;
}

.lsf-soundcloud:before{
  content: $lsf-soundcloud;
}

.lsf-chrome:before{
  content: $lsf-chrome;
}

.lsf-safari:before{
  content: $lsf-safari;
}

.lsf-sleipnir:before{
  content: $lsf-sleipnir;
}

.lsf-chess:before{
  content: $lsf-sleipnir;
}

.lsf-knight:before{
  content: $lsf-sleipnir;
}

.lsf-firefox:before{
  content: $lsf-firefox;
}

.lsf-opera:before{
  content: $lsf-opera;
}

.lsf-internetexplorer:before{
  content: $lsf-internetexplorer;
}

.lsf-ie:before{
  content: $lsf-internetexplorer;
}

