[submodule "vendor/yconnect-php-sdk"]
	path = vendor/yconnect-php-sdk
	url = git@github.com:hametuha/yconnect-php-sdk.git
[submodule "vendor/twitteroauth"]
	path = vendor/twitteroauth
	url = git@github.com:hametuha/twitteroauth.git
[submodule "vendor/google-api-php-client"]
	path = vendor/google-api-php-client
	url = git@github.com:hametuha/google-api-php-client.git
[submodule "vendor/facebook-php-sdk"]
	path = vendor/facebook-php-sdk
	url = https://github.com/facebook/facebook-php-sdk.git
[submodule "vendor/jwt"]
	path = vendor/jwt
	url = https://github.com/luciferous/jwt.git
