@charset "utf-8";
/* line 5, ../sass/gianism-admin.scss */
.gianism-wrap {
  position: relative;
}
/* line 7, ../sass/gianism-admin.scss */
.gianism-wrap .main-content {
  margin-right: 320px;
}
/* line 9, ../sass/gianism-admin.scss */
.gianism-wrap .main-content h3 {
  clear: both;
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px dotted #dddddd;
  font-size: 1.8em;
}
/* line 16, ../sass/gianism-admin.scss */
.gianism-wrap .main-content h4 {
  margin-top: 2em;
}
/* line 19, ../sass/gianism-admin.scss */
.gianism-wrap .main-content .last-updated {
  font-size: 0.9em;
  color: #999;
  text-align: right;
}
/* line 24, ../sass/gianism-admin.scss */
.gianism-wrap .main-content .gianism-example-table {
  border-collapse: collapse;
}
/* line 26, ../sass/gianism-admin.scss */
.gianism-wrap .main-content .gianism-example-table th, .gianism-wrap .main-content .gianism-example-table td {
  padding: 5px 10px;
  border: 1px solid #f0f0f0;
}
/* line 30, ../sass/gianism-admin.scss */
.gianism-wrap .main-content .gianism-example-table th {
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}
/* line 35, ../sass/gianism-admin.scss */
.gianism-wrap .main-content .gianism-example-table span.description {
  background: #06c;
  color: #fff;
  padding: 3px 5px;
  margin-top: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 43, ../sass/gianism-admin.scss */
.gianism-wrap .main-content p.notice {
  background: #f2f7fc;
  padding: 0.5em 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d2dee5;
}
/* line 50, ../sass/gianism-admin.scss */
.gianism-wrap .sidebar {
  width: 300px;
  right: 0;
  position: absolute;
  margin-left: -300px;
}
/* line 55, ../sass/gianism-admin.scss */
.gianism-wrap .sidebar #index {
  width: 278px;
  padding: 10px;
  border: 1px solid #cccccc;
  background-color: #f9f9f9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 61, ../sass/gianism-admin.scss */
.gianism-wrap .sidebar #index.floating {
  position: fixed;
  top: 38px;
}
/* line 65, ../sass/gianism-admin.scss */
.gianism-wrap .sidebar #index.pinned-bottom {
  position: absolute;
  bottom: 0;
  _position: static;
}
/* line 70, ../sass/gianism-admin.scss */
.gianism-wrap .sidebar #index .forum-link {
  background: url("../img/icon-wordpress-logo-32.png") left center no-repeat;
  padding: 0.5em 0.5em 0.5em 40px;
}
/* line 74, ../sass/gianism-admin.scss */
.gianism-wrap .sidebar #index .amazon-link {
  background: url("../img/icon-amazon-32.png") left center no-repeat;
  padding: 0.5em 0.5em 0.5em 40px;
}

@media screen and (max-width: 799px) {
  /* line 84, ../sass/gianism-admin.scss */
  .gianism-wrap .main-content {
    margin-right: 0;
  }
  /* line 87, ../sass/gianism-admin.scss */
  .gianism-wrap .sidebar {
    display: none;
  }
}
