@charset 'utf-8';

/* Facebook Button */
.fb_button, .fb_button_rtl {
	background: #29447E url('https://s-static.ak.facebook.com/rsrc.php/v1/yL/r/FGFbc80dUKj.png');
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	padding: 0 0 0 1px;
	text-decoration: none;
	outline: none;
	font-size: 11px;
	line-height: 14px;
	background-position-x: 0%;
	background-position-y: -210px;
}
.fb_button:link,
.fb_button:visited{
	text-decoration: none;
}
.fb_button .fb_button_text, .fb_button_rtl .fb_button_text {
	background: #5F78AB url('https://s-static.ak.facebook.com/rsrc.php/v1/yL/r/FGFbc80dUKj.png');
	border-top: solid 1px #879AC0;
	border-bottom: solid 1px #1A356E;
	color: white;
	display: block;
	font-family: "lucida grande",tahoma,verdana,arial,'Hiragino Kaku Gothic Pro',Meiryo,'MS PGothic',sans-serif;
	font-weight: bold;
	padding: 2px 6px 3px 6px;
	margin: 1px 1px 0 21px;
	text-shadow: none;
}

/* Twitter Button */
.wpg_tw_btn{
	height: 28px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	position: relative;
	background-color: #F8F8F8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#DEDEDE));
	background-image: -moz-linear-gradient(top,white,#DEDEDE);
	background-image: -o-linear-gradient(top,white,#DEDEDE);
	background-image: -ms-linear-gradient(top,white,#DEDEDE);
	background-image: linear-gradient(top,white,#DEDEDE);
	border: #CCC solid 1px;
	color: #333;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	overflow: hidden;
	color: #333;
	cursor: pointer;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	white-space: nowrap;
	font-size: 13px;
	line-height: 26px;
}
.wpg_tw_btn .label {
	padding: 0 7px 0 29px;
	font-size: 13px;
	line-height: 26px;
}
.wpg_tw_btn,
.wpg_tw_btn .label{
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
}
.wpg_tw_btn i {
	position: absolute;
	background: transparent url('https://platform.twitter.com/widgets/images/btn.png') -24px 0 no-repeat;
	width: 21px;
	height: 14px;
	left: 5px;
	margin-top: -7px;
	top: 50%;
}

/* Google */
.wpg_ggl_btn{
	position: relative;
	background-color: whiteSmoke;
	background-image: -webkit-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -moz-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -ms-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: linear-gradient(top,whiteSmoke,#F1F1F1);
	color: #444;
	border: 1px solid gainsboro;
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	outline: 0;
	padding: 0 8px 0 24px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	cursor: pointer;
}
.wpg_ggl_btn:link,
.wpg_ggl_btn:visited{
	text-decoration: none;
}

.wpg_ggl_btn:hover,
.wpg_ggl_btn:active{
	text-decoration: none;
	-webkit-box-shadow:0 2px 4px #ccc;
	-moz-box-shadow:0 2px 4px #ccc;
	box-shadow:0 2px 4px #ccc;	
}
.wpg_ggl_btn i {
	position: absolute;
	background: transparent url('./google.png') 0 0 no-repeat;
	width: 16px;
	height: 16px;
	left: 5px;
	margin-top: -7px;
	top: 50%;
}
/* Message box*/
.wpg-message{
	max-height: 500px;
	overflow: auto;
}